/*-----------------------SCREEN RESAIZING---------------------*/
/*--
@media (min-width: 465px) {
    .div-griglia-foto{
        grid-template-columns:1fr;
    }
}
@media (min-width:466px)and(max-width: 700px) {
    .div-griglia-foto{
        grid-template-columns:1fr 1fr;
    }
}
@media (min-width: 701px) and (max-width:1000px){
    .div-griglia-foto{
        grid-template-columns:1fr 1fr 1fr ;
    }
}
@media (min-width: 1001px) and (max-width:1277px){
    .div-griglia-foto{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1278px) {
    .div-griglia-foto{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    }
}
--*/
@media (min-width:1536px){
    header{
        padding: 5px;
        transition: .2s;
    }
}
@media (max-width:1535px){
    header{
        padding: 5px;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width:1460px){
    section{
        padding: 0;
        transition: .2s;
    }
}
@media (max-width:1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
    .div-griglia-foto{
        margin-left: 0;
    }
}
@media (max-width:990px){
    #menu-icon{
         display: block;
    }
    .navlist{
        position: absolute;
        top:100%;
        right: -100%;
        width: 100%;
        height: 40vh;
        background: blue;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:40px 20px ;
        transition: all .40s ease;
        margin-right: 0;
        margin-top:-50px ;
        background-image: linear-gradient(rgb(43, 43, 43), rgb(0, 0, 0));
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        margin-right: 0;
    }
    .navlist.open{
        right: 0;
    }
    .div-griglia-foto{
        margin-left: 0;
    } 
    .scritta-introduzione-heme{
        height: 80%;
    }
    .div-grid-contact{
        grid-template-columns: 1fr ;
        padding-left: 0;
        padding-right: 0;
        row-gap: 9px;
    }
}
@media (max-width:500px){
    .logo{
        opacity: 0;
    }
    .logo-piccolo{
        opacity: 1;
    }
}

